.quote {
  font-family: "Alfa Slab One", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
}
.form h2 {
  font-size: 70px;
}
.data {
  font-size: 40px;
}
input {
  font-size: 30px;
}
table {
  font-size: 40px;
}
body {
  background-color: ;
}
